.text-outline {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.header.header-about-us {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    z-index: 3;
}

.slogan-about-us {
    margin-top: 50px;
}

.slogan-about-us span {
    font-family: 'Montserrat Black';
    font-size: 55px;
    color: white;
}

.slogan-about-us span:first-child {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.slogan-about-us span:last-child {
    padding-left: 70px;
}

.header-eshop.custom-red-slider .container-red-slider {
    background-color: transparent;
}

.about-us-header {
    background-color: #1e2127;
    height: 600px;
    background-image: url("../img/back-ground-about-us-header.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.about-us-title-header {
    font-size: 12px;
    font-family: 'Montserrat Regular';
    padding-left: 70px;
    text-shadow: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 7px;
}

.about-us-title-header::before {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 70px;
    height: 2px;
    background-color: white;
    content: '';
}

.about-us-header-wrapper {
    position: absolute;
    margin-left: 18.75%;
    margin-top: 168px;
}


/* CSS FOR CONTENT PAGE ABOUT_US */

.container-about-us .content-row:nth-child(1) {
    height: 1123px;
}

.container-about-us .content-row:nth-child(2) {
    height: 635px;
}

.container-about-us .content-row:nth-child(3) {
    height: 1123px;
}

.content-row {
    background-color: white;
    display: flex;
    display: -ms-flexbox;
    flex-flow: row wrap;
}

.container-about-us .content-row:nth-child(2) {
    flex-direction: row-reverse;
    background-color: #edeef1;
}

.about-us-text {
    width: 50%;
}

.about-us-text h1 {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Montserrat Bold';
    font-size: 40px;
    white-space: nowrap;
    text-indent: -50px;
    line-height: 1.2;
    position: relative;
}

.about-us-text p {
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 1.875;
    text-align: left;
}

.about-us-text h1::before {
    position: absolute;
    top: -33px;
    left: -50px;
    height: 1px;
    width: 50px;
    background-color: black;
    content: '';
}

.container-about-us .content-row:first-child .about-us-text {
    padding-top: 290px;
    padding-right: 88px;
    padding-bottom: 530px;
    padding-left: 21.3541%;
}

.container-about-us .content-row:last-child .about-us-text {
    padding-top: 400px;
    padding-right: 88px;
    padding-bottom: 450px;
    padding-left: 21.3541%;
}

.container-about-us .content-row:nth-child(2) .about-us-text {
    padding-left: 141px;
    padding-top: 200px;
    padding-right: 18.75%;
    padding-bottom: 188px;
}

.about-us-img {
    width: 50%;
    height: inherit;
    position: relative;
}

.about-us-img img {
    height: 100%;
}

.container-about-us .content-row:first-child .about-us-img {
    padding-left: 90px;
    padding-right: 18.75%;
    padding-top: 150px;
    padding-bottom: 205px;
}

.container-about-us .content-row:last-child .about-us-img {
    padding-left: 90px;
    padding-right: 18.75%;
    padding-top: 210px;
    padding-bottom: 151px;
}

.container-about-us .content-row:nth-child(2) .about-us-img img {
    position: absolute;
    width: 820px;
    height: 1050px;
    top: -200px;
}

@media (max-width: 1366px) {
    .container-about-us .content-row:nth-child(1) {
        height: 1068px;
    }
    .container-about-us .content-row:nth-child(2) {
        height: 642px;
    }
    .container-about-us .content-row:nth-child(3) {
        height: 1117px;
    }
    .about-us-header-wrapper {
        margin-left: 83px;
    }
    .about-us-text {
        padding-left: 130px;
    }
    .container-about-us .content-row:first-child .about-us-img {
        padding-right: 83px;
        padding-top: 100px;
    }
    .container-about-us .content-row:last-child .about-us-img {
        padding-left: 90px;
        padding-right: 83px;
        padding-top: 200px;
        padding-bottom: 151px;
    }
    .container-about-us .content-row:nth-child(2) .about-us-text {
        padding-left: 141px;
        padding-top: 212px;
        padding-right: 83px;
        padding-bottom: 195px;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img img {
        position: absolute;
        width: 543px;
        height: 1042px;
        top: -200px;
    }
}

@media (max-width: 768px) {
    .container-about-us .content-row:nth-child(2) .about-us-text {
        padding-left: 80px;
        padding-top: 120px;
        padding-right: 36px;
        /* padding-bottom: 195px; */
    }
    .container-about-us .content-row:nth-child(1) {
        height: 754px;
    }
    .container-about-us .content-row:nth-child(2) {
        height: 439px;
    }
    .container-about-us .content-row:nth-child(3) {
        height: 800px;
    }
    .container-about-us .content-row:first-child .about-us-text {
        padding: 0;
        padding-left: 80px;
        padding-top: 190px;
    }
    .container-about-us .content-row:last-child .about-us-text {
        padding: 0;
    }
    .container-about-us .content-row:first-child .about-us-img {
        padding: 100px 26px 76px 30px;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img img {
        width: 334px;
        height: 595px;
        top: -77px;
    }
    .container-about-us .content-row:last-child .about-us-img {
        padding: 80px 26px 145px 30px;
    }
}

@media(max-width:500px) and (min-width:320px) {
    .slogan-about-us span {
        font-size: 26px;
    }
    .about-us-header-wrapper {
        margin-left: 15px;
    }
    .container-about-us .content-row:nth-child(3) {
        height: auto;
    }
    .container-about-us .content-row .about-us-img img {
        height: 100% !important;
    }
    .container-about-us .content-row:first-child .about-us-text {
        padding: 0;
        padding-left: 66px;
        padding-top: 100px;
        padding-right: 30px;
    }
    .container-about-us .content-row:last-child .about-us-text {
        padding: 0;
        padding-left: 66px;
        padding-right: 60px;
        padding-top: 612px;
    }
    .container-about-us .content-row:nth-child(2) .about-us-text {
        padding: 0;
        padding-left: 66px;
        padding-top: 170px;
        padding-right: 30px;
    }
    .about-us-text p {
        margin: 0;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img img {
        width: 100%;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img {
        height: 645px;
    }
    .container-about-us .content-row:last-child .about-us-img {
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        height: 580px;
        margin-bottom: 90px;
        margin-top: 52px;
    }
    .about-us-text h1 {
        font-size: 28px;
    }
    .container-about-us .content-row:nth-child(1),
    .container-about-us .content-row:nth-child(2) {
        height: auto;
        height: auto;
    }
    .about-us-text {
        width: 100%;
    }
    .about-us-img {
        width: 100%;
        position: relative;
    }
    .container-about-us .content-row:first-child .about-us-img {
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 50px;
        margin-bottom: -75px;
        height: 630px;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img {
        padding: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 50px;
        margin-bottom: -511px;
    }
    .container-about-us .content-row .about-us-text {
        padding: 0;
        padding-left: 65px;
    }
    .container-about-us .content-row:nth-child(2) {
        flex-direction: row;
    }
    .container-about-us .content-row:nth-child(2) .about-us-img img {
        position: inherit;
        top: 0;
        height: 595px;
    }
}