.contact-us {
    position: relative;
    background-color: white;
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-direction: row-reverse;
    /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;
    height: 918px;
}

.contact-content {
    height: 100%;
    width: 116.5%;
    margin-right: 30px;
    background-color: white;
}

.header-contact {
    height: 140px;
}

.contact-us-right {
    position: relative;
    display: inline-block;
    width: 62%;
    height: 100%;
}

.contact-us-right img {
    height: 100%;
    padding-bottom: 150px;
}

.contact-us-left {
    position: relative;
    display: inline-block;
    width: 38%;
    padding-top: 60px;
    padding-bottom: 211px;
    background-color: white;
}

.inner-contact-content {
    background-color: white;
    height: auto;
    float: left;
    margin-top: 100px;
    margin-left: 42.35%;
}

.title-contact {
    position: relative;
    padding-left: 50px;
    font-size: 12px;
    font-family: 'Montserrat Regular';
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(40, 46, 56);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 7.5px;
}

.title-contact::before {
    position: absolute;
    top: 50px;
    left: 0px;
    height: 1px;
    width: 50px;
    background-color: black;
    content: '';
}

.main-contact {
    margin-top: 60px;
}

.main-contact span:first-child {
    font-size: 55px;
    font-family: "Montserrat Black";
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.main-contact span:last-child {
    color: #282e38;
    font-size: 55px;
    font-family: "Montserrat Black";
    margin-left: 15px;
}

.address-contact {
    position: relative;
    padding-left: 50px;
    line-height: 1.875;
    font-size: 16px;
    font-family: "Montserrat Regular";
    color: rgba(40, 46, 56, 0.8);
    text-align: left;
    margin-top: 25px;
}

.address-contact::before {
    position: absolute;
    top: 135px;
    left: 50px;
    height: 1px;
    width: 50px;
    background-color: black;
    content: '';
}

.tel-mail {
    margin-top: 105px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(40, 46, 56);
    line-height: 1.875;
    text-align: left;
    font-size: 16px;
    font-family: "Montserrat";
    font-family: 'Montserrat SemiBold';
    color: rgb(40, 46, 56);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
}

@media (max-width: 1366px) {
    .tel-mail {
        margin-top: 90px;
    }
    .title-contact::before {
        top: 43px;
    }
    .main-contact {
        margin-top: 45px;
    }
    .header-contact {
        height: 129px;
    }
    .inner-contact-content {
        margin-top: 107px;
        margin-left: 83px;
    }
    .contact-us-right {
        width: 66.6%;
    }
    .contact-us-left {
        width: 33.4;
    }
    .contact-content {
        width: 145.5%;
    }
    .main-contact span:first-child {
        font-size: 48px;
    }
    .main-contact span:last-child {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .title-contact::before {
        top: 27px;
    }
    .main-contact {
        margin-top: 17px;
    }
    .address-contact {
        margin-top: 15px;
    }
    .address-contact::before {
        top: 105px;
    }
    .tel-mail {
        margin-top: 50px;
        line-height: 1.7;
    }
    .contact-us {
        height: 621px;
    }
    .contact-us-right img {
        padding-bottom: 100px;
    }
    .contact-us-right {
        width: 65.7%;
    }
    .contact-us-left {
        width: 34.3%;
    }
    .header-contact {
        height: 151px;
    }
    .inner-contact-content {
        margin-left: 60px;
        margin-top: 65px;
    }
    .contact-us-left {
        padding-bottom: 160px;
    }
    .main-contact span:first-child {
        font-size: 32px;
    }
    .main-contact span:last-child {
        font-size: 32px;
    }
    .address-contact {
        line-height: 1.7;
    }
}

@media (max-width: 360px) {
    .contact-content {
        left: 15px;
        top: -60px;
        position: absolute;
        right: -15px;
        width: auto;
    }
    .tel-mail {
        font-size: 12px;
    }
    .header-contact {
        height: 78px;
    }
    .inner-contact-content {
        margin: 0;
        padding: 0;
        padding-left: 25px;
        padding-top: 63px;
    }
    .contact-content {
        background-color: white;
    }
    .contact-us-right {
        height: 450px;
    }
    .contact-us-left {
        padding: 0px;
        height: 355px;
        position: relative;
    }
    .contact-us-right img {
        padding-bottom: 0px;
    }
    .contact-us {
        -webkit-flex-direction: row;
        flex-direction: row;
        display: block;
        height: 804px;
    }
    .contact-us-right {
        display: block;
        width: 100%;
    }
    .contact-us-left {
        display: block;
        width: 100%;
    }
}