.payment-container {
    position: relative;
    background: linear-gradient(90deg, #1b1d22 50%, #1b1d22 50%);
    height: auto;
}

.inner-payment-container {
    max-width: 1200px;
    margin: 0px auto;
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.inner-payment-container .cart-payment {
    background-color: #1b1d22;
    width: 41.77%;
    height: auto;
    padding-left: 60px;
    padding-top: 25px;
}

.cart-payment h3 {
    margin: 0;
    font-family: "Montserrat SemiBold";
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 40px;
}

.cart-item-img {
    margin-right: 18px;
    height: 100px;
    width: 70px;
    display: block;
    float: left;
    overflow: hidden;
}

.cart-item-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart-item-products {
    display: block;
    clear: both;
}

.cart-item-products .cart-item-content .cart-item-title {
    font-family: "Montserrat SemiBold";
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.cart-item-products .cart-item-content .cart-item-size {
    font-family: 'Montserrat Regular';
    font-size: 12px;
    text-align: left;
    color: rgba(255, 255, 255, 0.49);
    line-height: 3;
    text-align: left;
}

.cart-item-content .cart-item-prices .product-price {
    font-family: "Montserrat SemiBold";
    font-size: 26px;
    color: rgba(255, 255, 255, 0.149);
    line-height: 1;
    text-align: left;
}

.cart-item-content .cart-item-prices .count-item {
    padding: 0;
}

.cart-item-prices {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 5px;
}

.container-product-cart-payment .cart-item-products:not(:first-child) {
    margin-top: 32.5px;
}

.container-product-cart-payment .cart-item-products:last-child {
    margin-bottom: 40px;
}

.inner-payment-container .process-payment-container {
    background-color: white;
    width: 58.33%;
    height: auto;
    padding-right: 20px;
}

.inner-payment-container .process-payment-container h1 {
    margin: 0;
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Montserrat Black';
    color: rgb(40, 46, 56);
    line-height: 1.2;
    text-align: left;
}

.process-payment-container .step-container {
    display: flex;
}

.step-container .common-step-paymment {
    position: relative;
    display: flex;
}

.common-step-paymment .number-items {
    font-size: 14px;
    font-family: "Montserrat SemiBold";
    color: rgba(40, 46, 56, 0.502);
}

.step-container .common-step-paymment .number-items-container {
    margin: 0;
    width: 35px;
    height: 35px;
    background-color: white;
    border: solid 1px #f6f6f6;
}

.step-container .common-step-paymment.active .number-items-container {
    background-color: #282e38;
}

.step-container .common-step-paymment.done-step .number-items-container {
    background-color: #b41233;
}

.step-container .common-step-paymment.active .number-items-container .number-items {
    color: white;
}

.step-container .common-step-paymment span {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    font-family: 'Montserrat SemiBold';
    font-weight: normal;
    color: rgb(40, 46, 56);
    text-transform: uppercase;
    line-height: 3.5;
    text-align: left;
    margin-left: 10px;
}

.common-step-paymment.step-two {
    margin-left: 50px;
}

.done-step .number-items-container i {
    color: white;
    font-size: 17px;
}

.step-container {
    margin-top: 20px;
}

.container-input-form,
.container-select-form {
    position: relative;
}

.container-select-form {
    width: 50%;
    margin-right: 10px;
}

.input-wrapper .container-input-form.city {
    width: 50%;
    margin-left: 10px;
}

.process-payment-container .container-input-form input {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 25px;
    border: 1px solid #c6c8cc;
    outline: none;
    display: inline-block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    font-family: 'Montserrat Regular';
    color: rgb(40, 46, 56);
    text-align: left;
    height: 60px;
    transition: all .5s ease-in-out;
}


/* color: rgba(40, 46, 56, 0.502); */

.process-payment-container .container-input-form input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(40, 46, 56, 0.502);
}

.process-payment-container .container-input-form input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(40, 46, 56, 0.502);
}

.process-payment-container .container-input-form input:focus,
.process-payment-container .container-select-form select:focus {
    border: 1px solid #919499;
}

.process-payment-container .container-input-form label,
.process-payment-container .container-select-form label,
.promo-code-container .container-input-form label {
    margin: 0;
    font-size: 10px;
    font-family: 'Montserrat SemiBold';
    color: rgb(40, 46, 56);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 20px;
    font-weight: bold;
    top: 15px;
}

.input-wrapper,
.promo-code-container {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.input-wrapper .address,
.input-wrapper .postal-code {
    width: 50%;
}

.input-wrapper .address {
    margin-right: 10px;
}

.input-wrapper .postal-code {
    margin-left: 10px;
}

.container-select-form select {
    cursor: pointer;
    padding-left: 20px;
    padding-top: 25px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #c6c8cc;
    outline: none;
    display: inline-block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    font-family: 'Montserrat Regular';
    color: rgba(40, 46, 56, 0.502);
    text-align: left;
    height: 60px;
    transition: all .5s ease-in-out;
}

.container-select-form select:required:invalid {
    color: gray;
}

.container-select-form select option[value=""][disabled] {
    display: none;
}

.container-select-form select option {
    color: black;
}

.input-wrapper.row-data,
.container-input-form.row-data {
    margin-top: 20px;
}

.process-payment-container .container-input-form.row-data:first-child {
    margin-top: 35px;
}

.process-payment-button {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.process-payment-button .button-back-to-eshop {
    vertical-align: middle;
    background-color: white;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: "Montserrat SemiBold";
    color: rgba(27, 29, 34, 0.502);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3px;
    text-align: left;
    transition: all .5s ease-in-out;
}

.process-payment-button button i {
    font-size: 12px;
}

.process-payment-button .product-grid-more-button {
    width: 36.71%;
    height: 60px;
}

.promo-code-container input {
    height: 60px;
    width: 100%;
    background-color: #3d3f43;
    border: none;
    outline-color: #919499;
}

.promo-code-container .container-input-form {
    width: 65.45%;
}

.promo-code-container button {
    width: 32.5%;
    text-align: center;
    font-family: "Montserrat SemiBold";
    font-size: 12px;
    color: rgb(27, 29, 34);
    background-color: #e9e9e9;
    outline: none;
    border: none;
}

.promo-code-container {
    margin-bottom: 40px;
}

.payment-total-price .row-data {
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.payment-total-price .row-data .row-data-title {
    font-size: 12px;
    font-family: "Montserrat SemiBold";
    color: rgba(255, 255, 255, 0.302);
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    letter-spacing: 7.5px;
}

.payment-total-price .row-data .row-data-price {
    font-size: 26px;
    font-family: "Montserrat SemiBold";
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
}

.payment-total-price .row-data.final-price .row-data-title {
    font-size: 16px;
    color: white;
}

.cart-payment hr {
    margin: 0;
    border-top: 1px solid #3d3f43;
}

.cart-payment .under-line-total-price {
    margin-top: 30px;
}

.payment-total-price .row-data {
    margin-top: 25px;
}

.payment-total-price .row-data:first-child {
    margin-top: 40px;
}