.project-outsite .overview-text-right p span {
    color: #b41233;
}

.our-partner {
    width: 100%;
    height: 865px;
    background-color: white;
}

.our-partner .our-partner-content-up {
    height: 410px;
    background-color: #1e2127;
}

.our-partner .our-partner-content-dow {
    height: 455px;
    background-color: white;
    text-align: center;
}

.our-partner .our-partner-content-dow p {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 26px;
    font-family: "Montserrat";
    color: rgb(104, 107, 112);
    line-height: 2.231;
    text-align: center;
}

.our-partner .our-partner-content-dow p::before {
    width: 75px;
    height: 50px;
    overflow: visible;
    position: absolute;
    top: 135px;
    left: calc(50% - 95px);
    content: '“';
    font-family: 'Playfair Display';
    font-size: 188.6px;
    color: rgba(40, 46, 56, 0.102);
    font-weight: bold;
}