.project-outsite .overview-text-right p span {
    color: #b41233;
}

.our-partner {
    width: 100%;
    height: 865px;
    background-color: white;
}

.our-partner .our-partner-content-up {
    height: 410px;
    background-color: #1e2127;
    position: relative;
    text-align: center;
}

.inner-our-partner-content-up {
    /* max-width: 1200px; */
    text-align: center;
}

.our-partner .our-partner-content-dow {
    height: 455px;
    background-color: white;
    text-align: center;
    position: relative;
}

.container-logo {
    max-width: 1200px;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: space-between;
    /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
}

.our-partner .our-partner-content-dow p {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 26px;
    font-family: "Montserrat";
    color: rgb(104, 107, 112);
    line-height: 2.231;
    text-align: center;
}

.our-partner-comma p {
    width: 75px;
    height: 50px;
    overflow: visible;
    position: absolute;
    top: 135px;
    left: calc(50% - 95px);
    font-family: 'Playfair Display';
    font-size: 188.6px;
    color: rgba(40, 46, 56, 0.102);
    font-weight: bold;
}