section.related-work {
    padding: 140px 360px 150px 360px;
}

section.related-work h3 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Bold';
    font-weight: normal;
    font-size: 40px;
    color: rgb(40, 46, 56);
    line-height: 1.2;
    text-align: left;
}

.related-work-images,
.under-videos {
    margin-top: 65px;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -ms-flexbox;
    margin-left: -15px;
    margin-right: -15px;
    flex-flow: row wrap;
}

.related-work-images .related-work-image-inner {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
}

.related-work-images .related-work-image-inner .title-image {
    margin-top: 35px;
    font-family: 'Montserrat SemiBold';
    font-weight: normal;
    font-size: 20px;
    color: rgb(40, 46, 56);
    line-height: 1.2;
    text-align: left;
}

.related-work .container-button-more {
    margin-top: 95px;
}

.related-work .container-button-more .container-product-grid-button-more {
    padding: 0;
}

section.adam-smith-container {
    text-align: center;
    background-color: #1e2127;
    padding-top: 150px;
    padding-bottom: 140px;
}

section.adam-smith-container h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-family: 'Montserrat Bold';
    color: white;
    font-size: 20px;
}

section.adam-smith-container h5,
.related-work-image-inner h5 {
    font-family: "Montserrat";
    color: rgba(255, 255, 255, 0.302);
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Montserrat Regular';
    font-size: 12px;
    letter-spacing: 7px;
}

.related-work-image-inner h5 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular';
    font-size: 12px;
    color: rgba(40, 46, 56, 0.8);
    text-transform: uppercase;
    text-align: left;
    line-height: 3;
    letter-spacing: 3px;
}

section.adam-smith-container p {
    font-size: 26px;
    font-family: 'Montserrat Regular';
    color: rgb(255, 255, 255);
    line-height: 2.231;
    margin: 0;
}

.project-videos {
    background-color: white;
    padding: 150px 360px;
    padding-bottom: 85px;
}

.text-overview {
    display: flex;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.text-overview .overview-text-left,
.text-overview .overview-text-right {
    width: 50%;
}

.text-overview .overview-text-right {
    padding-left: 30px;
}

.overview-text-left div p {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: rgba(40, 46, 56, 0.8);
    line-height: 1.2;
    text-align: left;
    font-family: 'Montserrat Regular';
    font-size: 20px;
}

.overview-text-left div {
    font-family: 'Montserrat SemiBold';
    width: 72.38%;
    padding-bottom: 10px;
    border-bottom: solid 1px #d9d9d9;
}

.overview-text-left div {
    margin-top: 30px;
}

.overview-text-left h3 {
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-family: 'Montserrat SemiBold';
    color: rgb(40, 46, 56);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 30px;
    letter-spacing: 3.5px;
}

.overview-text-right h3 {
    padding: 0;
    margin: 0;
    margin-top: -16px;
    font-size: 40px;
    font-family: 'Montserrat Bold';
    color: rgb(40, 46, 56);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 30px;
}

.overview-text-right p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular';
    font-size: 26px;
    color: rgba(40, 46, 56, 0.8);
    line-height: 1.923;
    text-align: left;
}

.project-inner-video {
    width: 100%;
    display: block;
    margin-top: 75px;
}

.project-inner-video iframe {
    width: 100%;
    height: 575px;
    margin: 0;
    padding: 0;
    border: none;
    border-width: 0px;
}

.project-inner-video .intro-video {
    margin: 0;
    padding: 0;
    margin-top: -5px;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    padding-left: 30px;
    background-color: #1e2127;
}

.project-inner-video .intro-video h3,
.project-description h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Montserrat SemiBold';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
}

.project-inner-video .intro-video p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Montserrat Regular';
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    line-height: 3;
    text-align: left;
    letter-spacing: 3px;
}

.under-videos .project-item-image {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33333%;
    position: relative;
    margin-bottom: 65px;
    overflow: hidden;
    cursor: pointer;
}

.under-videos .project-item-image img {
    height: 540px;
}

.under-videos .project-description {
    width: calc(100% - 30px);
    position: absolute;
    top: calc(100% - 103px);
    transition: all .5s ease-out 0s;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
}

.project-item-image:hover>.project-description {
    top: 0px;
}

.under-videos .project-description div {
    background-color: #1e2127;
    height: 540px;
    overflow: hidden;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 40px;
}

.project-description h5 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular';
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 3;
    text-align: left;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.project-description p {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Montserrat Regular';
    color: rgb(255, 255, 255);
    line-height: 1.875;
    text-align: left;
}

.custom-project-screen h2 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Black';
    color: rgb(255, 255, 255);
    font-size: 55px;
    margin-top: 65px;
}

@media (max-width: 1366px) {
    .under-videos {
        margin-top: 30px;
    }
    .under-videos .project-item-image {
        margin-bottom: 30px;
    }
    .custom-project-screen h2 {
        font-size: 48px;
        margin-top: 55px;
    }
    .project-videos {
        background-color: white;
        padding: 150px 83px;
        padding-bottom: 130px;
    }
    section.related-work {
        padding: 140px 83px 150px 83px;
    }
}

@media (max-width: 768px) {
    .under-videos .project-description {
        width: calc(100% - 20px);
    }
    .under-videos .project-item-image {
        padding-left: 10px;
        padding-right: 10px;
    }
    .adam-custom {
        display: none;
    }
    section.adam-smith-container {
        padding-bottom: 135px;
    }
    .under-videos .project-item-image {
        margin-bottom: 20px;
    }
    .under-videos .project-item-image img {
        height: 497px;
    }
    .project-videos {
        background-color: white;
        padding: 150px 25px;
        padding-top: 100px;
        padding-bottom: 130px;
    }
    .overview-text-right p {
        font-size: 20px;
    }
    .overview-text-right h3 {
        font-size: 28px;
        margin-top: -4px;
    }
    .overview-text-left h3 {
        font-size: 20px;
    }
    .under-videos .project-description div {
        height: 497px;
    }
    .under-videos .project-item-image {
        width: 50%;
    }
    .under-videos {
        margin-top: 20px;
    }
    section.related-work {
        padding: 100px 25px 100px 25px;
    }
    .related-work-images .related-work-image-inner {
        padding-left: 10px;
        padding-right: 10px;
        width: 50%;
    }
    .related-work-images,
    .under-videos {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media(max-width:500px) and (min-width:320px) {
    .text-overview .overview-text-left,
    .text-overview .overview-text-right {
        width: 100%;
    }
    .under-videos .project-item-image {
        width: 100%;
    }
    .text-overview .overview-text-right {
        padding-left: 0px;
        margin-top: 60px;
    }
    .project-videos {
        padding-top: 55px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .project-inner-video {
        margin-top: 50px;
        width: 120%;
        margin-left: -15px;
    }
    .overview-text-left div {
        width: 100%;
    }
    .overview-text-left h3 {
        padding-bottom: 0px;
    }
    .overview-text-left div {
        margin-top: 25px;
    }
    .overview-text-right h3 {
        padding-bottom: 25px;
    }
    .project-inner-video iframe {
        height: 206px;
    }
    .related-work-images,
    .under-videos {
        margin-left: -15px;
        margin-right: -15px;
    }
    .project-videos {
        padding-bottom: 70px;
    }
    section.adam-smith-container {
        padding-bottom: 135px;
        padding-top: 85px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
    }
    section.adam-smith-container p {
        font-size: 20px;
        padding-right: 10px;
    }
    section.related-work {
        padding-top: 55px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .related-work-images .related-work-image-inner {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .related-work-images .related-work-image-inner .title-image {
        margin-top: 23px;
    }
}