#col-center {
    width: 21.67%;
    padding: 0px;
}

#carousel-1 {
    width: 100%;
    height: 81.48vh;
}

#carousel-2 {
    width: 100%;
    height: 43.62vh;
    position: absolute;
    bottom: 0;
}

.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

#counter {
    padding-left: 59.41%;
}

#timecount-wrap {
    padding-top: 8.4vh;
    margin: 0;
    padding-left: 70.1%;
}


/*bar*/

#timecount-wrap li {
    display: block;
    width: 3px;
    height: 0.2703vh;
    background: black;
    opacity: 0.5;
    overflow: visible;
    padding: 0px;
    margin: 0px;
}

#timecount-wrap li.active {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}